{{page-title "EmberjsTutorial"}}

{{! The following component displays Ember's default welcome message. }}
{{!-- <WelcomePage /> --}}
<h1>My Application</h1>
{{! Feel free to remove this! }}

{{outlet}}